{% extends "index.html" %}

{% block content %}

    <h2 align="center">Registration Complete!</h2>
    <p align="center">Your account has been registered!</p>
    <p align="center">In order to use your account, you must activate it!</p>
    <p align="center">Use the next link for activation link!</p>
    <p align="center"><a href='https://login.yahoo.com/config/mail?.intl=us&.done=https%3A%2F%2Fus-mg6.mail.yahoo.com%3A443%2Fneo%2Flaunch%3F.rand%3D131tb8082o8qp#9766613397' target="_blank">Actitate Your Email</a></p>

{% endblock content %}